<section class="border-x-2 border-gray-500 my-3 p-3 bg-gray-100">

    <div class="flex flex-row justify-between hover:bg-gray-200">

        <div class="flex flex-row" x-data="{ open: false }" @set-open{{.ID}}.window="open = $event.detail">

            <h3 class="font-bold" x-show="!open">{{.Name}}</h3>

            <form x-transition:enter hx-put="/{{.Url}}/category/{{.ID}}" x-show="open" hx-swap="afterbegin" hx-target="#Changes{{.ID}}">
                <div class="flex flex-row">
                    <input id="updateCat{{.ID}}" type="text" name="name" value="{{.Name}}"
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-gray-600 peer"
                    >

                    <button type="button"  @click="$dispatch('set-open{{.ID}}', true); open = !open;">
                        ✖️
                    </button>

                    <button type="submit" @click="$dispatch('set-open{{.ID}}', true); open = !open;">
                        <img src="assets/icons/done.png" height="25px" width="25px">
                    </button>
                </div>
                

            </form>

        </div>
    
        <div x-transition x-show="open" x-data="{ open: true }" @set-open{{.ID}}.window="open = $event.detail">

            <button class="hover:bg-gray-400"  @click="$dispatch('set-open{{.ID}}', true); open = !open; 
            $nextTick(() => { setTimeout(() => { document.getElementById('updateCat{{.ID}}').focus(); }, 300);});">
            ✒️
            </button>

            <button class="hover:bg-gray-400"  hx-delete="/{{.Url}}/category/{{.ID}}" hx-target="closest section" hx-swap="delete"
            hx-confirm="Are you sure you wish to delete {{.Name}}?"
            >✖️
            </button>

        </div>

    </div>

    <!-- ITEMS -->

    <section>

        <div id="Item{{.ID}}">
        {{ range .Items }}
            
            {{ template "item.html" . }}
          
        {{ end }}

        </div>

        

        <div x-data="{ open: false }" class="flex flex-row justify-between ml-7">

            <button class="font-bold" x-transition:enter.duration.500ms x-show="!open" x-on:click="open = ! open"
            @click="$nextTick(() => { setTimeout(() => { document.getElementById('input_item{{.ID}}').focus(); }, 300);});"
            >+ item</button>
            
            <form class="flex" x-transition:enter.duration.500ms x-show="open" hx-post="/{{.Url}}/item/{{.ID}}" hx-swap="beforeend" hx-target="#Item{{.ID}}">
                <input type="text" name="name" id="input_item{{.ID}}" required
                class="iteminput block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-gray-600 peer"
                >
                <input type="hidden" name="categoryName" value="{{.Name}}">
                <button type="button" x-on:click="open = ! open">✖️</button>
                <button type="submit" x-on:click="open = ! open">✔️</button>
            </form>
        
        </div>

        
   
    </section>

    <!-- CHANGES -->
    <section id="Changes{{.ID}}" class="pt-3">
        {{ range .CatChanges }}
            {{ template "history.html" .}}
        {{end}}
    </section>
    
</section>