{{ template "header.html" .}}

    <div class="m-auto max-w-xl p-3">

        <div id="list">

            {{ range .list.Categories}}
    
                {{ template "category.html" . }}
                
            {{end}}
    
        </div>

        <div x-data="{ open: false }" class="flex flex-row justify-between mt-5">

            <button class="font-bold" x-transition:enter.duration.500ms x-show="!open" x-on:click="open = ! open"
            @click="$nextTick(() => { setTimeout(() => { document.getElementById('input_cat').focus(); }, 300);});"
            >+ Category</button>

            <form x-transition:enter.duration.500ms x-show="open" hx-post="/{{.list.Url}}/category" hx-target="#list" hx-swap="beforeend">
                <input type="text" name="name" id="input_cat" required>
                <button type="button" x-on:click="open = ! open">✖️</button>
                <button type="submit" x-on:click="open = ! open">✔️</button>
            </form>
        
        </div>
    
        <section id="History" class="mt-10">
            {{ range .histories }}
                {{ template "history.html" .}}
            {{end}}
        </section>
    </div>

    

    <script>

        document.body.addEventListener('htmx:afterRequest', (event) => {
            var elements = document.getElementsByTagName("input");
            for (var ii=0; ii < elements.length; ii++) {
            if (elements[ii].type == "text" && elements[ii].classList.contains("iteminput")) {
                elements[ii].value = "";
            }
            }

            document.getElementById('input_cat').value = '';
        })

        // ADD ITEM TO HISTORY
        document.body.addEventListener('htmx:afterRequest', (event) => {
            console.log(event.detail.target)
            if (event.detail.target.id != 'History') {
                htmx.ajax('GET', '/{{.list.Url}}/history', {target:'#History', swap:'afterbegin'})
            }            
        })
    </script>

    <script>
        function timeSince(date) {

            now = Date.now();
            seconds = (now - date) / 1000;

            if (seconds < 60) {
                return 'now'
            } else if (seconds < 3600) {
                return Math.floor(seconds/60) + "m"
            } else if (seconds < 86400) {
                return Math.floor(seconds/3600) + "h"
            } else {
                return Math.floor(seconds/86400) + "d"
            }
        }
    </script>

{{ template "footer.html" .}}